@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
html {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}
body {
  width: "100%";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  border-radius: 14px;
  width: 155px;
  height: 46px;
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* -----------------------------------NAVBAR----------------------------------------- */
.navbar {
  width: 1440px;
  height: 90px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  margin-left: 152px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
}
.navbar-btns-container {
  margin-right: 140px;
}
.logo {
  color: #000000;
  font-size: 22px;
  font-weight: 500;
}
.logo-bold {
  color: #000000;
  font-size: 22px;
  font-weight: 600;
}
.navbar-btns {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  margin-right: 29px;
}
.navbar-btn {
  background: #000000;
  border-radius: 14px;
  width: 155px;
  height: 46px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  border: none;
}
.navbar-btn:hover {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}
.burger-menu {
  width: 30px;
  margin-right: 50px;
  display: none;
}
@media all and (max-width: 1200px) {
  .logo-container {
    margin-left: 100px;
  }
  .navbar-btns-container {
    margin-right: 100px;
  }
}
@media all and (max-width: 1100px) {
  .logo-container {
    margin-left: 50px;
  }
  .navbar-btns-container {
    margin-right: 50px;
  }
}
@media all and (max-width: 992px) {
  .navbar-btns-container {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}
@media all and (max-width: 425px) {
  .logo-container {
    margin-left: 25px;
  }
  .burger-menu {
    margin-right: 25px;
    width: 25px;
  }
  .logo {
    font-size: 18px;
  }
  .logo-bold {
    font-size: 18px;
  }
}
/* -------------------------------------------------SECTION1-------------------------------------- */
.section1 {
  display: flex;
  align-items: flex-start;
  max-width: 1440px;
}
.section1-leftside {
  width: 50%;
  background-color: #ece7e4;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px 0 100px;
}
.section1-innercontainer {
  display: flex;
  flex-direction: column;
}
.section1-innercontainer > .logo {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.section1-innercontainer > .bold-text {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 18px;
}
.section1-innercontainer > .description-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 30px;
}
.section1-btn {
  color: #000000;
  border: 1px solid #000000;
  margin-left: 4px;
}
.section1-btn:hover {
  background-color: #000000;
  color: #ffffff;
}
.section1-rightside {
  width: 50%;
  height: 100%;
}
@media all and (max-width: 1220px) {
  .section1-leftside {
    padding: 0 50px 0 50px;
  }
}
@media all and (max-width: 1024px) {
  .section1-innercontainer > .bold-text {
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 60px;
  }
}
@media all and (max-width: 992px) {
  .section1-innercontainer > .logo {
    margin-bottom: 0;
  }
  .section1-innercontainer > .bold-text {
    font-size: 35px;
    margin-bottom: 10px;
    line-height: 45px;
  }
  .section1-innercontainer > .description-text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 768px) {
  .section1-rightside {
    display: none;
  }
  .section1 {
    flex-direction: column;
    max-width: 768px;
  }
  .section1-leftside {
    width: 100%;
    box-sizing: border-box;
  }
  .section1-leftside {
    padding: 50px 100px 50px 100px;
  }
  .section1-innercontainer > .description-text {
    margin-bottom: 20px;
  }
}
@media all and (max-width: 576px) {
  .section1-leftside {
    padding: 50px 50px 50px 50px;
  }
}
@media all and (max-width: 426px) {
  .section1-leftside {
    padding: 50px 25px 50px 25px;
  }
}
/* --------------------------------------------SECTION2------------------------------------- */
#about {
  background-color: #ffffff;
  max-width: 1440px;
}
.section2 {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}
.section2-container {
  margin: 100px 0;
  max-width: 768px;
  display: flex;
  flex-direction: row;
}
.section2-container > .title {
  width: 35%;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
.section2-container > .text-container {
  width: 65%;
}
.section2-container > .text-container > p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.section2-container > .text-container > .image-container {
  display: flex;
  margin-top: 18px;
}
.image-container > .name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.image-container > .name-container > .name {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #000000;
}
.image-container > .name-container > .job {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}
@media all and (max-width: 992px) {
  .section2-container {
    max-width: 700px;
    display: flex;
    flex-direction: row;
  }
}
@media all and (max-width: 768px) {
  .section2-container > .title {
    font-size: 26px;
    width: 30%;
  }
  .section2-container > .text-container {
    width: 70%;
  }
  .section2-container > .text-container > p {
    font-size: 14px;
  }
  .section2-container {
    margin: 50px;
  }
}
@media all and (max-width: 576px) {
  .section2-container {
    flex-direction: column;
  }
  .section2-container > .title {
    margin-bottom: 10px;
    width: 100%;
  }
  .section2-container > .text-container {
    width: 100%;
  }
}
@media all and (max-width: 426px) {
  .section2-container {
    margin: 50px 25px;
  }
}
/* --------------------------------------------SECTION3------------------------------------- */
.section3 {
  position: relative;
  font-size: 0;
}
.section3-container {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section3-container > .text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}
.section3-container > .text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
@media all and (max-width: 1200px) {
  .section3-container {
    left: 70%;
  }
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 992px) {
  .section3-container {
    left: 63%;
    width: 280px;
  }
  .section3-container > .text2 {
    font-size: 15px;
  }
}
@media all and (max-width: 768px) {
  .section3-container {
    left: 60%;
    width: 230px;
    padding-top: 20px;
    box-sizing: border-box;
  }
  .section3-container > .text2 {
    font-size: 14px;
  }
  .section3-container > .text1 {
    margin-left: 5px;
  }
}
@media all and (max-width: 576px) {
  .section3 > img {
    display: none;
  }
  .section3-container > .text1 {
    margin-left: 0;
  }
  .section3-container {
    width: 300px;
    height: 100%;
    position: static;
    top: 0;
    left: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
  }
}
/* --------------------------------------------SECTION4------------------------------------- */
#section4 {
  max-width: 1440px;
  background-color: #ffffff;
}
.section4 {
  max-width: 1440px;
  padding: 100px 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section4 > .text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 13px;
}
.section4 > .text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 47px;
}
.section4 > .inner-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.section4 > .inner-container > .item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 314px;
}
.section4 > .inner-container > .item-container > .title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin: 15px 0 10px 0;
}
.section4 > .inner-container > .item-container > .text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #717171;
}
@media all and (max-width: 1305px) {
  .section4 {
    max-width: 1440px;
    padding: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media all and (max-width: 1200px) {
  .section4 {
    padding: 80px;
  }
  .section4 > .inner-container > .item-container {
    width: 280px;
  }
}
@media all and (max-width: 1024px) {
  .section4 > .inner-container > .item-container > img {
    width: 90px;
  }
  .section4 {
    padding: 50px;
  }
}
@media all and (max-width: 992px) {
  .section4 > .inner-container > .item-container > img {
    width: 65px;
  }
  .section4 {
    padding: 25px;
  }
  .section4 > .inner-container > .item-container {
    width: 240px;
  }
  .section4 > .inner-container > .item-container > .text {
    font-size: 14px;
  }
}
@media all and (max-width: 768px) {
  .section4 > .inner-container {
    flex-direction: column;
    align-items: center;
  }
  .section4 > .inner-container > .item-container {
    width: 100%;
    margin-top: 20px;
  }
  .section4 > .text2 {
    margin-bottom: 20px;
  }
}
@media all and (max-width: 576px) {
  .section4 > .text2 {
    font-size: 30px;
  }
}
@media all and (max-width: 426px) {
  .section4 > .text2 {
    font-size: 20px;
    margin-bottom: 0;
  }
}
/* --------------------------------------------SECTION5-------------------------------------  this section is identical as section3 */

/* --------------------------------------------SECTION6------------------------------------- */
.section6 {
  background-color: #000000;
  width: 1440px;
}
.section6-container {
  display: flex;
  flex-direction: row;
  margin: 52px 136px;
  padding: 30px 49px;
}
.section6-left-container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}
.section6-left-container > .text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ece7e4;
}
.section6-left-container > .text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 14px;
}
.section6-left-container > .text3 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #ece7e4;
}
.section6-right-container {
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.section6-right-container .images {
  margin: 29px 0 29px 178px;
}
.section6-right-container .first {
  margin-top: 10px;
}
.section6-right-container .second {
  margin-top: 10px;
}
.section6-right-container .third {
  margin-top: 64px;
}
.section6-right-container .four {
  margin-top: 64px;
}
@media all and (max-width: 1200px) {
  .section6-right-container .images {
    margin: 29px 0 29px 128px;
  }
  .section6-container {
    margin: 52px 80px;
    padding: 30px 30px;
  }
}
@media all and (max-width: 992px) {
  .section6-right-container .images {
    margin: 29px 0 29px 80px;
  }
  .section6-container {
    margin: 52px 50px;
    padding: 30px 0;
  }
}
@media all and (max-width: 768px) {
  .section6-right-container .images {
    margin: 29px 0 29px 50px;
  }
  .section6-container {
    margin: 52px 25px;
    padding: 30px 0;
  }
  .section6-right-container {
    margin-left: 0;
  }
}
@media all and (max-width: 576px) {
  .section6-container {
    flex-direction: column;
  }
  .section6-left-container {
    width: 70%;
    margin-bottom: 20px;
  }
  .section6-right-container {
    width: 100%;
    place-items: center;
    gap: 30px;
  }
  .section6-right-container .images {
    margin: 0;
  }
  .section6-container {
    margin: 25px 25px;
    padding: 25px 0;
  }
}
@media all and (max-width: 376px) {
  .section6-right-container .images {
    width: 100px;
  }
}
/* --------------------------------------------SECTION7------------------------------------- */
.section7-container {
  width: 280px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section7-container > .text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}
.section7-container > .text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
@media all and (max-width: 992px) {
  .section7-container {
    left: 10%;
  }
  .section7-container > .text2 {
    font-size: 15px;
  }
}
@media all and (max-width: 768px) {
  .section7-container {
    width: 230px;
    padding-top: 20px;
    box-sizing: border-box;
  }
  .section7-container > .text2 {
    font-size: 14px;
  }
}

@media all and (max-width: 576px) {
  .section7 > img {
    display: none;
  }
  .section7-container > .text1 {
    margin-left: 0;
  }
  .section7-container {
    width: 300px;
    height: 100%;
    position: static;
    top: 0;
    left: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
  }
}
/* --------------------------------------------SECTION8------------------------------------- */
#projects {
  max-width: 1440px;
  background-color: #f7f7f7;
}
.section8 {
  width: 100%;
}
.section8-container {
  margin: 114px 136px 100px 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section8-container > .text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 15px;
  width: 100%;
}
.section8-container > .text2 {
  width: 581px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 42px;
  width: 100%;
}
.section8-container > .image-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.section8-image-subcontainer {
  position: relative;
}
.section8-image-subcontainer:hover .text1 {
  display: block;
}
.section8-image-subcontainer:hover .text2 {
  display: block;
}
.section8-image-subcontainer:hover button {
  display: block;
}
.section8-image-subcontainer > .text1 {
  display: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 10%;
}
.section8-image-subcontainer > .text2 {
  display: none;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  color: #403e3b;
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 10%;
}
.section8-image-subcontainer > button {
  display: none;
  background-color: #000000;
  border-radius: 14px;
  color: #ffffff;
  width: 133px;
  height: 46px;
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 10%;
}
.section8-image-subcontainer > button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.section8-image-subcontainer > .images {
  width: 379px;
}
.section8-view {
  border: 1px solid #000000;
  margin-top: 35px;
  color: #000000;
}
.section8-view:hover {
  background-color: #000000;
  color: #ffffff;
}
@media all and (max-width: 1406px) {
  .section8-container {
    margin: 114px 60px 100px 60px;
    box-sizing: border-box;
  }
}
@media all and (max-width: 1297px) {
  .section8-image-subcontainer > .images {
    width: 300px;
  }
}
@media all and (max-width: 1024px) {
  .section8-container {
    margin: 80px 25px 80px 25px;
  }
}
@media all and (max-width: 992px) {
  .section8-container {
    margin: 80px 25px 80px 25px;
  }
  .section8-container > .text1 {
    font-size: 28px;
  }
  .section8-container > .text2 {
    font-size: 20px;
  }
  .section8-image-subcontainer > .images {
    width: 280px;
  }
}
@media all and (max-width: 889px) {
  .section8-container {
    margin: 60px 25px 60px 25px;
  }
  .section8-image-subcontainer > .images {
    width: 260px;
  }
}
@media all and (max-width: 828px) {
  .section8-image-subcontainer > .images {
    width: 240px;
  }
}
@media all and (max-width: 768px) {
  .section8-container > .text1 {
    margin-bottom: 0;
  }
  .section8-container > .text2 {
    margin-bottom: 20px;
  }
  .section8-container > .image-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .section8-image-subcontainer > .images {
    width: 340px;
  }
}
@media all and (max-width: 576px) {
  .section8-container > .text1 {
    font-size: 22px;
  }
  .section8-container > .text2 {
    font-size: 15px;
  }
}
@media all and (max-width: 425px) {
  .section8-container > .text2 {
    font-size: 14px;
    line-height: 24px;
  }
  .section8-container > .text1 {
    font-size: 18px;
  }
}
@media all and (max-width: 391px) {
  .section8-image-subcontainer > .images {
    width: 270px;
  }
  .section8-container {
    margin: 40px 25px 40px 25px;
  }
}

/* --------------------------------------------SECTION9------------------------------------- */
#team {
  max-width: 1440px;
}
.section9 {
  background-color: #ffffff;
  width: 100%;
}
.section9-container {
  margin: 96px 136px 129px 136px;
  display: flex;
}
.section9-left-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}
.section9-left-container > .text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 14px;
}
.section9-left-container > .text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
.section9-left-container > .section9-btncontainer > button {
  border: 1px solid #000000;
  margin-top: 30px;
  color: #000000;
}
.section9-left-container > .section9-btncontainer > button:hover {
  background-color: #000000;
  color: #ffffff;
}
.section9-btncontainer {
  width: 100%;
}
.section9-right-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 52px;
  width: 60%;
  padding-top: 10px;
}
.section9-item-container {
  display: flex;
  align-items: center;
}
.section9-name-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.section9-name-container > .text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #000000;
}
.section9-name-container > .text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}
@media all and (max-width: 1322px) {
  .section9-container {
    margin: 96px 80px 129px 80px;
    display: flex;
  }
}
@media all and (max-width: 1024px) {
  .section9-right-container {
    gap: 30px;
    width: 60%;
    padding-top: 10px;
  }
  .section9-name-container {
    margin-left: 10px;
  }
}
@media all and (max-width: 992px) {
  .section9-left-container {
    max-width: 300px;
  }
  .section9-container {
    margin: 80px 50px 100px 50px;
    display: flex;
  }
  .section9-item-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section9-left-container {
    max-width: 280px;
  }
}
@media all and (max-width: 699px) {
  .section9-container {
    margin: 80px 50px 100px 50px;
    flex-direction: column;
  }
  .section9-left-container {
    max-width: 350px;
    margin-bottom: 20px;
  }
  .section9-right-container {
    gap: 20px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (max-width: 559px) {
  .section9-right-container {
    gap: 20px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 425px) {
  .section9-container {
    margin: 70px 25px 90px 25px;
    display: flex;
  }
  .section9-btncontainer {
    display: flex;
    justify-content: center;
  }
  .section9-left-container > .text1 {
    font-size: 26px;
  }
}
@media all and (max-width: 374px) {
  .section9-item-container > img {
    width: 70px;
  }
  .section9-name-container > .text1 {
    font-size: 14px;
  }
  .section9-name-container > .text2 {
    font-size: 13px;
  }
}
/* --------------------------------------------SECTION10------------------------------------- */
#contact {
  max-width: 1440px;
  background-color: #cec4bc;
}
.section10 {
  width: 100%;
}
.section10-container {
  margin: 100px 136px 118px 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section10-left-container {
  display: flex;
  flex-direction: column;
}
.section10-left-container > .text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}
.section10-left-container > .text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 38px;
  color: #000000;
}
.section10-container > button {
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;
  margin-top: 18px;
}
.section10-container > button:hover {
  background-color: #000000;
  color: #ffffff;
}
@media all and (max-width: 1024px) {
  .section10-container {
    margin: 100px 80px 118px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media all and (max-width: 992px) {
  .section10-left-container > .text2 {
    font-size: 28px;
  }
}
@media all and (max-width: 768px) {
  .section10-left-container > .text2 {
    font-size: 28px;
  }
  .section10-container {
    margin: 100px 25px 118px 25px;
  }
}
@media all and (max-width: 626px) {
  .section10-container {
    flex-direction: column;
  }
}
@media all and (max-width: 425px) {
  .section10-container {
    flex-direction: column;
  }
  .section10-left-container > .text2 {
    font-size: 22px;
  }
  .section10-container {
    margin: 50px 25px 70px 25px;
  }
}
@media all and (max-width: 321px) {
  .section10-left-container > .text2 {
    font-size: 19px;
  }
  .section10-container {
    margin: 50px 25px 50px 25px;
  }
}
/* --------------------------------------------SECTION11------------------------------------- */
#footer {
  max-width: 100%;
  background-color: #ffffff;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-left-container {
  display: flex;
  flex-direction: column;
  margin: 60px 0 60px 136px;
  align-items: flex-start;
}
.footer-left-container > .text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.footer-logo {
  margin-left: 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  /* width: 100%; */
}
.footerlogo {
  font-size: 26px;
  margin-bottom: 8px;
}
.footerbold {
  font-size: 26px;
}
.footer-right-container {
  height: 100%;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  font-size: 0;
  padding-bottom: 60px;
  padding-right: 136px;
}
@media all and (max-width: 1024px) {
  .footer-left-container {
    margin: 60px 0 60px 80px;
  }
  .footer-right-container {
    padding-right: 80px;
  }
}
@media all and (max-width: 768px) {
  .footer-left-container {
    margin: 60px 0 60px 25px;
  }
  .footer-right-container {
    padding-right: 25px;
  }
}
@media all and (max-width: 626px) {
  .footer {
    flex-direction: column;
  }
  .footer-left-container {
    align-items: center;
    margin: 60px 25px 20px 25px;
  }
  .footer-right-container {
    padding-right: 0;
    display: flex;
    justify-content: center;
  }
}
@media all and (max-width: 425px) {
  .footer-logo {
    width: 100%;
  }
}
